footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-top: .1rem solid #ffffff10;
}

footer>p {
    text-align: center;
    font-size: .8rem;
}